*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }

.container {
  display: grid; }

.cta:link,
.cta:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #fd7c66;
  padding: 1rem 2rem;
  border-radius: 100px; }

.features {
  display: grid;
  grid-row: 3 / 4;
  background-color: darkgoldenrod; }

.footer {
  display: grid;
  grid-row: 4 / 5;
  background-color: darkmagenta; }

.header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 3rem min-content 1rem min-content 3rem; }
  .header__heading {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    justify-content: start;
    grid-row-gap: 1rem; }
    .header__heading--subtext {
      font-size: 2.8rem;
      text-transform: uppercase;
      color: #122b33; }
  .header__cta {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: start; }

.presentation {
  grid-row: 2 / 3;
  background-color: #5be79b;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 3rem min-content 2rem min-content 3rem; }
  .presentation__image {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .presentation__text {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    color: #122b33;
    font-size: 1.5rem; }
    .presentation__text p:not(:last-child) {
      margin-bottom: 2rem; }
