// COULEURS
$color-primary: #122b33;
$color-secondary: #fd7c66;
$color-tertiary: #5be79b;

// FONTS
$font-primary: "Montserrat", sans-serif;

// MIXINS
@mixin min-width($breakpoint) {
  // 500px / 16px = 31.25em
  @if $breakpoint == small {
    @media only screen and (min-width: 31.25em) {
      @content;
    }
  }
  // 900px / 16px = 56.25em
  @if $breakpoint == medium {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }
  // 1800px / 16px = 112.5em
  @if $breakpoint == large {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

// BASE CSS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
}

.container {
  display: grid;
}

// CTA
.cta:link,
.cta:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: $color-secondary;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
    transform: translateY(0);
  }

  @include min-width(medium) {
    font-size: 1.8rem;
    padding: 1.125rem 2.25rem;
  }

  @include min-width(large) {
    font-size: 2rem;
    padding: 1.25rem 2.5rem;
  }
}
