// COLORS
$color-primary: #122b33;
$color-secondary: #fd7c66;
$color-tertiary: #5be79b;

// FONTS
$font-primary: "Montserrat", sans-serif;

// SCREEN WIDTHS
$bp-largest: 85em; // 1200px + (2 * 80px) / 16px = 85em
$bp-large: 68.75em; // 1100px / 16px = 68.25em
$bp-medium: 56.25em; // 900px / 16px = 56.25em
$bp-small: 37.5em; // 600px / 16px = 37.5em
$bp-smallest: 31.25em; // 500px / 16px = 31.25em

// BASE CSS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
}

.container {
  display: grid;
}

.cta:link,
.cta:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: $color-secondary;
  padding: 1rem 2rem;
  border-radius: 100px;
}
