.header {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 1fr min-content minmax(min-content, 25rem) 1fr;
  grid-template-rows: 3rem min-content 1rem min-content 3rem;

  &__preview {
    // L'aperçu de l'application est caché sur mobile uniquement
    display: none;

    grid-column: 2 / 3;
    grid-row: 2 / 5;

    width: 21rem;

    @include min-width(small) {
      display: block;
    }
  }

  &__heading {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: minmax(min-content, 25rem);
    grid-row-gap: 1rem;
    align-self: end;

    &--logo {
      width: 16rem;
    }

    &--subtext {
      color: $color-primary;
    }
  }

  &__cta {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: start;
    align-self: start;
  }
}
