.help {
  grid-row: 4 / 5;

  background-color: $color-primary;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-column-gap: 4rem;
  justify-items: center;
  padding: 4.5rem 10%;

  &__category {
    display: grid;
    justify-items: center;
    align-content: start;
    align-items: start;
    grid-row-gap: 1rem;
  }

  &__heading {
    color: #fff;
  }

  &__image {
  }

  &__text {
    color: #fff;
    text-align: center;
  }
}
