// Paragraph
.paragraph {
  color: $color-primary;
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: $bp-medium) {
    font-size: 1.6875rem;
  }

  @media only screen and (min-width: $bp-medium) {
    font-size: 1.875rem;
  }
}
